/* Meu teste page CSS */

#welcome-page {
  padding: 20px;
}

#welcome-page p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #1c0c7a;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.welcome-card-button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  background-color: #1c0c7a;
  /* Green */
  border: 4px #1c0c7a solid;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
  width: 100%;
}

.welcome-card-button button {
  background-color: #1c0c7a;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 100%;
  font-family: "Acme", sans-serif;
  font-style: normal;
}

/* The label-container */
.label-container {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #1c0c7a;
}

/* Hide the browser's default checkbox */
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.label-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.question-card {
  font-family: "Acme", sans-serif;
  font-style: normal;
  background-color: #FFFFFF;
  /* border: 4px #1c0c7a solid;
   */
   border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 
  flex-direction: row;
	justify-content: flex-start; */
	/* break-before: always; */
	margin: 0 0 3em 0;
  padding: 20px;
  margin: 15px;
  width: 100%;
  text-align: center;
}

.bloco1, .bloco2 {
  display: flex;
} 

#question-page h4 {
  padding-left: 20px;
  color: #1c0c7a;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}

.question-card-button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  background-color: #04AA6D;
  /* Green */
  border: 4px #05754c solid;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
  width: 100%;
}

.button {
  background-color: #04AA6D;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 100%;
  font-family: "Acme", sans-serif;
  font-style: normal;
}

.gradient {
  width: 100%; 
  height: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  background-image: linear-gradient(
    90deg,
    hsl(150deg 100% 20%) 0%,
    hsl(84deg 47% 35%) 16%,
    hsl(69deg 56% 38%) 24%,
    hsl(62deg 63% 41%) 30%,
    hsl(59deg 70% 44%) 35%,
    hsl(57deg 78% 48%) 40%,
    hsl(56deg 85% 50%) 45%,
    hsl(55deg 100% 50%) 50%,
    hsl(51deg 100% 50%) 55%,
    hsl(47deg 100% 50%) 60%,
    hsl(42deg 100% 50%) 65%,
    hsl(36deg 100% 50%) 70%,
    hsl(29deg 100% 50%) 76%,
    hsl(21deg 100% 50%) 84%,
    hsl(0deg 100% 50%) 100%
  );
}

.radio-wrapper-1 {
  color: #212529;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.8rem;
}

.radio-wrapper-1 label {
  display: inline-block;
  padding-left: .25em;
}

.radio-wrapper-1 input[type=radio] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 0;
  margin-right: 0;
}

.radio-wrapper-1 input[type=radio] {
  background-position: center center;
  -webkit-print-color-adjust: exact;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, .25);
  height: 1em;
  margin-top: .25em;
  vertical-align: top;
  width: 1em;
  border-radius: 50%;
}

.radio-wrapper-1 input[type=radio]:active {
  filter: brightness(90%);
}

.radio-wrapper-1 input[type=radio]:focus {
  border-color: #86b7fe;
  box-shadow: rgba(13, 110, 253, .25) 0 0 0 .25rem;
  outline: 0;
}

.radio-wrapper-1 input[type=radio]:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.radio-wrapper-1 input[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.radio-wrapper-1 input[type=radio]:disabled {
  filter: none;
  opacity: .5;
  pointer-events: none;
}

.radio-wrapper-1 input[type=radio]:disabled ~ label {
  opacity: .5;
}