@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/*.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}*/

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: red; */
  background-color: #F1F5FF;
}

header {
  /* background-color: red; */
}

header .container {
  /* position: fixed; */
  /* top: 80px;
  left: 40px; */
}

header h2 {
  font-weight: 900px;
  text-align: center;
  color: #1c0c7a;
  font-family: "Acme", sans-serif;
  font-size: 60px;
  font-style: normal;
  margin-top: 25px;
}

header p {
  font-weight: 400;
  font-size: medium;
  font-family: "Lato", sans-serif;
  color: #1c0c7a;
  text-align: center;
  font-size: small;
}

article {
  background-color: #F1F5FF;
  padding: 20px;
  /* border-radius: 40px 40px 0px 0px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 100vh; */
  /* height: 100%; */
}

article .card, .card-logout {
  flex: 1;
  background-color: #FFFFFF;
  width: 100px;
  height: 80px;
  border: 4px #1c0c7a solid;
  border-radius: 20px;
  margin: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px 4px rgba(235, 239, 251, 1);
  -moz-box-shadow: 0px 0px 20px 4px rgba(235, 239, 251, 1);
  box-shadow: 0px 0px 20px 4px rgba(235, 239, 251, 1);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  cursor: pointer;
}

article .card, .card-logout a {
  outline: none;
}

article .card, .card-logout img {
  width: 64px;
  margin-bottom: 5px;
}

article .card, .card-logout span {
  font-weight: bold;
  /* color: #B6B7C9; */
  color: #1c0c7a;
  font-size: medium;
  text-transform: uppercase;
  font-size: x-small;
}

/* Modal Style */

video {
  width: 100%;
  max-height: 100%;
}

.wp-block-image img {
  width: 100%;
  height: auto;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 40px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: scroll;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */

.modal-btn-close {
  color: white;
  float: right;
  font-size: 40px;
  font-weight: bold;
  color: #1c0c7a;
  margin-right: 10px;
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  /* padding: 2px 16px; */
  height: 30px;
  /* background-color: #5cb85c; */
  color: white;
}

.modal-body {
  padding: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  text-align: justify;
}

.modal-body p {
  margin-bottom: 15px;
}

.modal-footer {
  /* padding: 2px 16px; */
  /* background-color: #5cb85c; */
  /* color: white; */
}